<!DOCTYPE html>
<html>
  <head>
    <title>Axis</title>
  </head>
  <body>
  <style>
    body {
      font: 10px sans-serif;
    }

    svg {
      background-color: #f3f3f3;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    div {
      display: inline-block;
    }
  </style>

  <div id="xaxis"></div>
  <div id="yaxis"></div>
  <div id="yaxis2"></div>
  <script data-main="../../src/require.config.js" src="../../../node_modules/requirejs/require.js"></script>
  <script>
    require(["../../src/index"], function (jubilee) {
      var width = 100;
      var height = 400;
      var xWidth = height;
      var xHeight = width;
      var margin = {top: 20, right: 50, bottom: 20, left: 50};
      var xMargin = {top: 50, right: 20, bottom: 50, left: 20};

      var xScale = d3.time.scale()
        .domain([1411761400000, 1411761600000])
        .range([0, xWidth - xMargin.left - xMargin.right]);

      var yScale = d3.scale.linear().domain([0, 90]).range([height - margin.top - margin.bottom, 0]);
      var yScale2 = d3.scale.linear().domain([0.1, 0.9]).range([height - margin.top - margin.bottom, 0]);

      var xAxis = jubilee.component.axis()
        .scale(xScale)
        .gClass("x axis")
        .transform(function () {
          return "translate(" + xMargin.left + "," + (xHeight - xMargin.top) + ")";
        });

      var yAxis = jubilee.component.axis()
        .scale(yScale)
        .orient("left")
        .gClass("y axis")
        .transform(function () {
          return "translate(" + margin.left + "," + margin.top + ")";
        });

      var yAxis2 = jubilee.component.axis()
        .scale(yScale2)
        .orient("right")
        .gClass("y axis")
        .transform(function () {
          return "translate(" + (width - margin.right) + "," + margin.top + ")";
        });

      d3.select("#xaxis").append("svg")
        .attr("width", xWidth)
        .attr("height", xHeight)
        .call(xAxis);

      d3.select("#yaxis").append("svg")
        .attr("width", width)
        .attr("height", height)
        .call(yAxis);

      d3.select("#yaxis2").append("svg")
        .attr("width", width)
        .attr("height", height)
        .call(yAxis2);
    });
  </script>
  </body>
</html>
