<!DOCTYPE html>
<html>
  <head>
    <title>BoxPlot</title>
  </head>
  <body>
    <style>
      body {
        font: 10px sans-serif;
      }

      svg {
        background-color: #f3f3f3;
      }
    </style>

    <div id="chart"></div>
    <script data-main="../../src/require.config.js" src="../../../node_modules/requirejs/require.js"></script>
    <script>
      require(["../../src/index"], function (jubilee) {
        var data = {
          series: [
            [
              { x: 1411761450000, median: 41, q1: 20, q3: 60, max: 80, min: 10},
              { x: 1411761480000, median: 18, q1: 8, q3: 36, max: 60, min: 1},
              { x: 1411761510000, median: 22, q1: 12, q3: 40, max: 50, min: 9},
              { x: 1411761540000, median: 17, q1: 8, q3: 34, max: 88, min: 1},
              { x: 1411761570000, median: 17, q1: 6, q3: 42, max: 56, min: 2}
            ]
          ]
        };

        var width = 700;
        var height = 400;
        var xScale = d3.time.scale().domain([1411761400000, 1411761600000]).range([0, width]);
        var yScale = d3.scale.linear().domain([0, 90]).range([height, 0]);
        var rangeY1 = function (d) { return yScale(d.max) - yScale(d.median); };
        var rangeY2 = function (d) { return yScale(d.min) - yScale(d.median); };

        var boxplot = jubilee.component.boxplot()
          .transform(function (d) {
            return "translate(" + xScale(d.x) + "," + yScale(d.median) + ")";
          })
          .box({
            width: 50,
            height: function (d) { return yScale(d.q1) - yScale(d.q3); },
            y: function (d) { return yScale(d.q3) - yScale(d.median); }
          })
          .range({ y1: rangeY1, y2: rangeY2 })
          .max({ y1: rangeY1, y2: rangeY1 })
          .min({ y1: rangeY2, y2: rangeY2 });

        d3.select("#chart").append("svg")
          .attr("width", width)
          .attr("height", height)
          .data(data.series)
          .call(boxplot);
      });
    </script>
  </body>
</html>
